// -------------------------
// All mobile devices
// -------------------------
@media (max-width: 979px) {
  // remove margin from top navigation bar
  .navbar {
    margin-bottom: 0px;
  }
  // make container full width
  .container {
    width: auto;
  }
  // remove rounded borders
  .left-menu-w {
    .border-radius(0px);
  }
  .main-content-w {
    .border-radius(0px);
  }
  .side-cart-i {
    .border-radius(0px);
  }
  // Remove bottom margin from main layout element
  .row-custom {
    margin-bottom: 0px;
  }
  // Hide the overflow for off canvas elements
  .row-custom {
    overflow: hidden;
    // remove paddings from sliding side bars
    .side-cart-w {
      padding-top: 0px;
    }
    .side-menu-w {
      padding-top: 0px;
    }
  }

  // Reduce margin on the left side menu element for tablets
  .side-cart-w, .side-menu-w {
    .main-header {
      margin-top: 0px;
      font-size: 22px;
      padding: 5px 0px;
    }
    .padded-nb, .padded {
      padding-top: 10px;
    }
  }
  // right align header of the menu on left side panel
  .side-menu-w .main-header {
    text-align: right;
  }
}

// -------------------------
// Tablet to Desktop
// -------------------------
@media (min-width: 768px) and (max-width: 979px) {
  // Reduce brand font size
  .navbar .brand {
    font-size: 28px;
  }
  // reduce size of top navigation items
  .navbar .nav > li > a {
    font-size: 18px;
  }
  // Adjust column positions and margins for tablet view
  .row-custom {
    // side menu
    .side-menu-w {
      width: 22%;
    }
    // main element in the middle
    .size-has-both-panels {
      width: 78%;
      .transition(all .3s ease);
    }
    // side cart
    .side-cart-w {
      margin-left: -300px;
      position: relative;
      z-index: 2;
      .transition(all .3s ease);
      width: 300px;
    }
  }
  // "Active" styles for the visible shopping cart state
  .active-side-cart {
    .row-custom {
      .size-has-both-panels {
        margin-left: -300px;
      }
      .side-cart-w {
        margin-left: 0;
      }
    }
  }
}

// -------------------------
// Phone to desktop/tablet
// -------------------------
@media (max-width: 767px) {
  // reduce brand font size and padding
  .navbar .brand {
    font-size: 22px;
    display: inline-block;
    padding: 17px;
    float: none;
  }
  .navbar {
    text-align: center;
    .nav li {
      padding: 10px 0px;
    }
  }
  // change a height of top bar to auto
  .navbar-inner {
    min-height: 100%;
    padding: 0px 10px;
  }
  // adjust columns for proper view on mobile devices
  .row-custom {
    overflow: hidden;
    .side-menu-w {
      margin-right: -200px;
      position: relative;
      z-index: 2;
      .transition(all 0.4s linear);
      width: 200px;
    }
    .size-has-both-panels {
      width: 100%;
      .transition(all 0.4s linear);
    }
    .side-cart-w {
      margin-left: -200px;
      position: relative;
      z-index: 2;
      .transition(all .3s ease);
      width: 200px;
    }
  }
  // "Active" styles for the visible shopping cart state
  .active-side-cart {
    .row-custom {
      .size-has-both-panels {
        margin-left: -200px;
      }
      .side-cart-w {
        margin-left: 0;
        z-index: 3;
      }
    }
  }
  // "Active" styles for the visible side menu state
  .active-side-menu {
    .row-custom {
      .size-has-both-panels {
        margin-right: -200px;
      }
      .side-menu-w {
        margin-right: 0px;
        z-index: 3;
      }
    }
  }
  // center footer items
  .footer {
    text-align: center;
    .menu {
      float: none;
    }
  }
}

// Up to Phone
@media (max-width: 480px) {
}